FenLineInstaller/Resources/FenLine.zip
FenLineInstaller/bin/debug/FenLineInstaller.exe
FenLineInstaller/obj/debug/FenLineInstaller.exe
FenLineInstaller/obj/debug/FenLineInstaller.Properties.Resources.resources